* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6EBF2;
}

.form-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-Border {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70%;
    width: 90%;
    background-color: #E6EBF2;
    border-radius: 10px;
}

.image-Container {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.header h1 {
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
    ;
}

.header p {
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    ;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    gap: 15px;
}

.username-Container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.username-Container input[type="password"],
.username-Container input[type="text"] {
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;

}

.password-container {
    width: 80%;
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}

.fa-eye {
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}


.fa-eye ::before {
    content: "\f06e";
    font-family: "Font Awesome 6 Solid";
    font-size: 18px;
}

.fa-eye.closed::before {
    content: "\f070";
    text-decoration: line-through;
}

input {
    height: 50px;
    border: 2px solid #698C68;
    border-radius: 20px;
    text-indent: 10px;
    width: 80%;
    font-family: 'DM Sans', sans-serif;
}

.input-wrapper {
    position: relative;
    width: 80%;
}

.pass {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.forgot {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    color: black;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
}

.signin {
    display: flex;
    justify-content: center;
   margin-top: 15px;
width: 100%;
}

.signin a {
    font-size: 25px;
    text-decoration: none;
      border-radius: 30px;
      color: white;
    background-color: #698C69;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    border: 2px transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    border-radius: 30px;
    background-color: #698C69;
    font-family: 'DM Sans', sans-serif;

}

.register {
    margin-top: 50px;

}

.register h5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
}

.register a {
    text-decoration: none;
    color: #698C68;
    font-family: 'DM Sans', sans-serif;
}

@media (min-width: 768px) {
    .form-Border {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        height: 70%;
        width: 70%;
        background-color: #E6EBF2;
        border-radius: 10px;
    }
}
@media (min-width: 992px) {
    .form-Border {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        height: 70%;
        width: 50%;
        background-color: #E6EBF2;
        border-radius: 10px;
    }
}

@media (min-width: 1200px) {
    .form-Border {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        height: 70%;
        width: 40%;
        background-color: #E6EBF2;
        border-radius: 10px;
    }
}