* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6EBF2;
}

.form-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-Border {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70%;
    width: 90%;
    background-color: #E6EBF2;
    border-radius: 10vw;
}

.image-Container {
    width: 100%;
}
.image-Container img {
    width: 13rem;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.header h1 {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
}

.header p {
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    gap: 1.5rem;
}

#login-form {
    width: 100%;
  
}

.username-Container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.username-Container input[type="password"],
.username-Container input[type="text"] {
    width: 100%;

    box-sizing: border-box;
}

.password-container {
    width: 80%;
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
  
    box-sizing: border-box;
}

.fa-eye {
    position: absolute;
    top: 30%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
    font-size: 1.5rem;
}

.fa-eye ::before {
    content: "\f06e";
    font-family: "Font Awesome 6 Solid";
    font-size: 1.8rem;
}

.fa-eye.closed::before {
    content: "\f070";
    text-decoration: line-through;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border: 0.2vw solid #698C68;
    border-radius: 5vw;
    text-indent: 1rem;
    width: 80%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

.input-wrapper {
    position: relative;
    width: 80%;
}
.forgot-Pass {
    display: flex;
    justify-content: end;
    width: 80%;
  
}
.forgot-Pass a {
    text-decoration: none;
}
.login {
    width: 80%;
    display: flex;
    justify-content: center;
}

#login-Button {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    border: 0.2vw transparent;
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 100%;
    border-radius: 5vw;
    background-color: #698C69;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
}
