* {
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6EBF2;
}
.have-Account {
   position: absolute;
   top: 10px;
   right: 20px;
   display: flex;
   align-items: center;
   gap: 10px;
}
.have-Account h5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
}
.have-Account a {
    text-decoration: none;
    border: 1px transparent;
    background-color: #698C68;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
}
.form-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-Border {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 75%;
    width: 90%;
    background-color: #E6EBF2;
    border-radius: 10px;
}

.image-Container {
    width: 100%;
}

.header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.header h1 {
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
 
}

.header p {
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
  
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    gap: 15px;
}

.username-Container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.username-Container input[type="username"],
.username-Container input[type="text"] {
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;

}

.password-container {
    width: 80%;
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}
.email-Container {
    width: 80%;
    display: flex;
    justify-content: center;
}
.email-Container input[type="email"],
.email-Container input[type="email"] {
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}
.fa-eye {
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}


.fa-eye ::before {
    content: "\f06e";
    font-family: "Font Awesome 6 Solid";
    font-size: 18px;
}

.fa-eye.closed::before {
    content: "\f070";
    text-decoration: line-through;
}

input {
    height: 50px;
    border: 2px solid #698C68;
    border-radius: 20px;
    text-indent: 10px;
    width: 80%;
    font-family: 'DM Sans', sans-serif;
}

.input-wrapper {
    position: relative;
    width: 80%;
}

.pass {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.register {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;

    
}

.register a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    border: 2px transparent;
    padding-top:20px;
    padding-bottom: 20px;
    width: 80%;
    border-radius: 30px;
    background-color: #698C69;
    font-family: 'DM Sans', sans-serif;

}
.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.terms h5 {
    font-family: 'DM Sans', sans-serif;
    width: 60%;
    font-weight: 100;
}
.terms a {
    text-decoration: none;
    color: #698C68;
    font-weight: 100;
}
/* For screens smaller than 600px */
@media (max-width: 600px) {
    .header h1 {
      font-size: 28px;
    }
    
    .input-wrapper {
      width: 100%;
    }
    
    input {
      width: 100%;
    }
    
    .pass {
      flex-direction: column;
      gap: 5px;
    }
    
    .fa-eye {
      top: 43%;
      right: 8%;
    }
    
    .terms h5 {
      width: 90%;
    }
  }
  
  /* For screens between 600px and 900px */
  @media (min-width: 600px) and (max-width: 900px) {
    .header h1 {
      font-size: 30px;
    }
    
    .input-wrapper {
      width: 100%;
    }
    
    input {
      width: 100%;
    }
    
    .pass {
      flex-direction: column;
      gap: 5px;
    }
    
    .fa-eye {
      top: 43%;
      right: 8%;
    }
    
    .terms h5 {
      width: 80%;
    }
  }
  
  /* For screens larger than 900px */
  @media (min-width: 900px) {
    .form-Container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .form-Border {
      height: 85%;
      width: 50%;
    }
    
    .image-Container {
      width: 50%;
    }
    
    .header h1 {
      font-size: 35px;
    }
    
    .input-wrapper {
      width: 80%;
    }
    
    input {
      width: 100%;
    }
    
    .pass {
      flex-direction: row;
      gap: 10px;
    }
    
    .fa-eye {
      top: 35%;
      right: 4%;
    }
    
    .terms h5 {
      width: 60%;
    }
  }
  @media only screen and (max-width: 415px) {
    section {
      /* adjust height and justify-content as needed */
      height: auto;
      justify-content: flex-start;
    }
    .have-Account {
      /* adjust top and right positions as needed */
      top: 20px;
      right: 10px;
    }
    .form-Border {
      /* adjust height as needed */
      height: 90%;
    }
    .header h1 {
      /* adjust font size as needed */
      font-size: 25px;
    }
    form {
      /* adjust margin-top as needed */
      margin-top: 20px;
    }
    input {
      /* adjust height and font-size as needed */
      height: 40px;
      font-size: 14px;
    }
    .register a {
      /* adjust padding-top, padding-bottom, and font-size as needed */
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
    }
    .terms h5 {
      /* adjust font-size as needed */
      font-size: 12px;
    }
  }
  