* {
    margin: 0;
    padding: 0;
  }
  
  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6EBF2;
  }
  
  .have-Account {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
  
  .have-Account h5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
  }
  
  .have-Account a {
    text-decoration: none;
    border: 0.063rem transparent;
    background-color: #698C68;
    color: white;
    border-radius: 0.7rem;
    padding: 0.7rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
  }
  
  .form-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-Border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: #E6EBF2;
    border-radius: 0.625rem;
  }
  
  .image-Container {
    width: 100%;
  }
  .image-Container img {
    width: 13rem;
  }
  
  .header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
  }
  
  .header h1 {
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
  }
  
  .header p {
    font-size: 0.8rem;
    font-family: 'DM Sans', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    width: 100%;
    gap: 0.938rem;
  }
  
  .username-Container {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .username-Container input[type="username"],
  .username-Container input[type="text"] {
    width: 100%;
    padding: 1.5rem 4.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
  }
  
  .password-container {
    width: 80%;
    position: relative;
  }
  
  .password-container input[type="password"],
  .password-container input[type="text"] {
    width: 100%;
    padding: 1.5rem 4.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
  }
  
  .email-Container {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .email-Container input[type="email"],
  .email-Container input[type="email"] {
    width: 100%;
    padding: 1.5rem 4.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
  }
  
  .fa-eye {
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }
  
  .fa-eye ::before {
    content: "\f06e";
    font-family: "Font Awesome 6 Solid";
    font-size: 1.125rem;
  }
  
  .fa-eye.closed::before {
    content: "\f070";
    text-decoration: line-through;
    font-family: "Font Awesome 6 Solid";
    font-size: 18px;
}

input {
    height: 1vw;
    border: 1.5px solid black;
    border-radius: 5vw;
    text-indent: 1vw;
 
    font-family: 'DM Sans', sans-serif;
  }
  
  .input-wrapper {
    position: relative;
    width: 80%;
  }
  
  
  
  .register {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    width: 100%;
  }
  
  #register-Button {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    border: 0.2vw transparent;
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 80%;
    border-radius: 5vw;
    background-color: #698C69;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  .terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 4vw;
  }
  
  .terms h5 {
    font-family: 'DM Sans', sans-serif;
    width: 80%;
    font-weight: 100;
    font-size: 0.8rem;
  }
  
  .terms a {
    text-decoration: none;
    color: #698C68;
    font-weight: 100;
  }
  