* {
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;

}
.sign-In {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 15px;
    right: 30px;
    font-family: 'Roboto', sans-serif;


}
.sign-In p {
    font-size: 13px;
}
.sign-In a {
    font-size: 15px;
    text-decoration: none;
    border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 92, 179);

}
.sign-In a:hover {
    color: black;
    background-color: white;
}
.header {
    
    top: 20px;
    left: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header span {
    color: black;
 
    font-weight: 700;
}
.form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 100%;
background-color: #5F9B43;
font-family: 'Roboto', sans-serif;

  

  
}
.form-border {
    width: 70%;
    padding: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    background-color: #ffffff;


}
form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
margin-top: 50px;




  
}
.reg-Head {
    width: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 30px;
width: 100%;
}
.reg-Head h1 {
    font-size: 25px;
    font-weight: 500;
}
.reg-Head a {
    text-decoration: none;
}
label {
    width: 100%;
    margin-bottom: 10px;
}
input {
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.create {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#5F9B43;
  gap: 10px;
    width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
    font-size: 20px;
    border-radius: 10px;
color: white;
}
.create:hover {
    color: black;
}
.login-Info {
  
  margin-top: 20px;
    text-align: start;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
.login-Info a {
    text-decoration: none;
    color: #0051ad;
}
.login-Info a:hover {
    color: #4ee4ff;
}