:root {
    --color-primary: #5F9B43;
    --color-secondary: #D9D9D9;
    --color-black: #1E1E1E;
    --color-white: #E6EBF2;

    --font-primary: 'Noto Serif', serif;
    --font-secondary: 'DM Sans', sans-serif;
    --font-heading: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-x: hidden;

}

body {
    background-color: var(--color-white);
}



h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
}

/* ==== Navbar ==== */

nav {
    background-color: var(--color-primary);
}

.burger-menu {
    color: var(--color-white);
}



.nav-title {
    color: var(--color-white);
}

.nav-title span {
    color: var(--color-black);
}

.nav-item {
    transition: color 0.2s ease;
    color: var(--color-white);
}

.nav-item:hover {
    color: var(--color-black);
}

/* ==== Hero Section ==== */

.hero-container {
    background-color: var(--color-primary);
}

.header-shape {
    width: 100%;
}

.header-image {

}

.hero-title {
    font-weight: 700;
    color: var(--color-white);
}

.hero-title span {
    color: var(--color-black);
}

.hero-text {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-weight: 400;
}

.hero-text span {
    color: var(--color-black);
}

#hero-button {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 30px;
    font-family: var(--font-heading);
}

#hero-button:hover {
    color: var(--color-white);
    background-color: #44752d;
}

/* ==== CARDS SECTION ==== */

.step-title {
    color: var(--color-black);
    font-weight: 700;
}



.card-icon {
    font-size: 5rem;
}

.card-title {
    font-family: var(--font-primary);
}

.card-text {
    font-family: var(--font-secondary);
}

#card-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 30px;
    font-family: var(--font-heading);
}

#card-button:hover {
    background-color: #44752d;
}

/* ==== Footer ==== */

.footer-container {
    background-color: var(--color-primary);
}

.social-icon {
    transition: color 0.2s ease;
}

.social-icon:hover {
    color: var(--color-secondary);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-image-container {
        display: flex;
        justify-content: center;
    }

    .card-title {
        text-align: center;
    }

    .card-text {
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    


    .card-container {
        display: flex;
    }

    .card-title {
        text-align: left;
    }

    .card-text {
        text-align: left;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}