:root {
    --color-primary: #5F9B43;
    --color-secondary: #D9D9D9;
    --color-black: #1E1E1E;
    --color-white: #EEEFF3;

    --font-primary: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}

body {
    background-color: var(--color-white);
}



h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-primary);
}

/* ==== Navbar ==== */

.burger-menu {
    color: var(--color-white);
}



.nav-title {
    color: var(--color-white);
}

.nav-title span {
    color: var(--color-black);
}

/* ==== Hero Section ==== */

.header-shape {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%;
    z-index: -1;
    
}

.header-image {
    border-radius: 50%;
    background-color: var(--color-white);
}

.hero-title {
    color: var(--color-white);
}

.hero-title span {
    color: var(--color-black);
}

.hero-text {
    color: var(--color-black);
}

.hero-text span {
    color: var(--color-white);
}

/* ==== CARDS SECTION ==== */

.card-container {
    background-color: var(--color-primary);
    border-radius: 25px;
    height: 300px;
    width: 300px;
}

.card-icon {
    font-size: 5rem;
}

/* ==== Footer ==== */

.footer-container {
    background-color: var(--color-primary);
}